# read csv to dataframe

In [1]:
import pandas as pd
import numpy

In [4]:
df = pd.read_csv('../dataset/amazon.csv')
df.sample(3)

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
883,B0873L7J6X,"Infinity (JBL Glide 510, 72 Hrs Playtime with ...","Electronics|Headphones,Earbuds&Accessories|Hea...","₹1,499","₹3,999",63%,4.2,"42,775",72 Hours Playtime Under Optimum Audio Settings...,"AGHTZ6M45GWLTAEPAMM6IEH2BXOA,AGVTW4CSK4PNN4WGW...","(sic),Harshit,Bharath N,Pulkit Malik,Akhtar An...","R1N3LBU331N1YS,R2NMV5Q9AYU4RM,R11KVGFT3HQ3AS,R...","Far better then expected,Dual Connectivity Not...",Well I had a notion that cheap bt headphones c...,https://m.media-amazon.com/images/I/41-U6BdQrc...,https://www.amazon.in/Infinity-Glide-510-Headp...
1387,B078WB1VWJ,Usha EI 3710 Heavy Weight 1000-Watt Dry Iron w...,"Home&Kitchen|Kitchen&HomeAppliances|Vacuum,Cle...","₹1,110","₹1,599",31%,4.3,"4,022",1.75kg heavy weight iron for better ironing;5 ...,"AG4KXXU3X2W7U5GHPFTQUH7B74QQ,AGVNR5BV6PXJKH2OX...","Gyani baba,Sunil,Sakethram,Nagarajunuti,Nitin,...","R13VHF78WR3N1Z,R342QNGEZ7OI7F,R2ZL6XILY5JIM6,R...","It doesn't heat up,Value fir money,Ok,satisfie...",If y want to use it for light clothes line sil...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Usha-Electric-EI3710-100...
294,B01LONQBDG,AmazonBasics USB Type-C to Micro-B 2.0 Cable -...,Computers&Accessories|Accessories&Peripherals|...,₹349,₹899,61%,4.1,"14,896",Connect a computer with a Type-C USB port (Mac...,"AH42ECAG6LPCU22T5BYN5OXQO74A,AEW6XI52IO3H37U4W...","SOURAV DAS,GISHU,Bikkee Bakchi,David Gomes,pra...","RKU0YNFBI9H6U,R1L56U9MGEY65D,R1RTAR9ZHEKJKA,RZ...","Very good.,Good one. Worth Buy.,Wonderful,Amaz...","Go for it with out second thought.,It works we...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/AmazonBasics-USB-Type-C-...

## write df to csv

In [ ]:
df.to_csv('amazon.csv', index=False)

# postgresql

## read from postgresql

In [6]:
import psycopg2

In [ ]:
conn = psycopg2.connect(
    database="database-name", 
    user="database-username", 
    password="database-password", 
    host="database-host", 
    port="database-port")

In [ ]:
query = """
select * from table_name
"""

df = pd.read_sql(query, conn)

## write df to postgre

In [ ]:
import psycopg2
import numpy as np
import psycopg2.extras as extras
import pandas as pd
  
  
def execute_values(conn, df, table):
  
    tuples = [tuple(x) for x in df.to_numpy()]
  
    cols = ','.join(list(df.columns))
    # SQL query to execute
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("the dataframe is inserted")
    cursor.close()

In [ ]:
conn = psycopg2.connect(
    database="database-name", 
    user="database-username", 
    password="database-password", 
    host="database-host", 
    port="database-port")

execute_values(conn, df, 'table-name')

## delete from postgre

In [ ]:
df_tuple_conv_id = tuple(df['conversation_id'].unique())

In [ ]:
import psycopg2

try:
    connection = psycopg2.connect(
        database="database-name", 
        user="database-username", 
        password="database-password", 
        host="database-host", 
        port="database-port")
    
    cursor = connection.cursor()

    postgres_insert_query = f""" Delete from chat_summarize where
                                 conversation_id in {df_tuple_conv_id}
                                 """

    record_to_insert = (111111, 'faq_111111', 'Mohon', '[-0.00895969569683075, -0.01822381466627121, -0.026512397453188896]', 'baik', 1, True, now, now)
    cursor.execute(postgres_insert_query)

    connection.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully into mobile table")

except (Exception, psycopg2.Error) as error:
    print("Failed to delete record into mobile table", error)

finally:
    # closing database connection.
    if connection:
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

# mysql

## read mysql

In [8]:
import mysql.connector

In [ ]:
conn = mysql.connector.connect(
    database="database-name", 
    user="database-username", 
    password="database-password", 
    host="database-host", 
    port="database-port"
)

In [ ]:
query = """
select * from table_name
"""

df = pd.read_sql(query, conn)

## write mysql

In [ ]:
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="db-name"
uname="db-user"
pwd="db-pass"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql('table-name', engine, index=False, if_exists='replace')

# sqlalchemy

## mysql

In [ ]:
from sqlalchemy import create_engine, text
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()


host = 'xx.xxx.xx.xxx'
user = 'abcd'
password = 'asdf1234'
database = 'db-name'
port = 1234

In [ ]:
engine =  create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )

sql_df = None
with engine.connect() as conn:
    query = """
    select * from table_name
    """
    sql_df = pd.read_sql(query, conn)
    conn.close()

# Bigquery

## read bigquery

### 1

In [ ]:
from google.oauth2 import service_account
from google.cloud import bigquery

credentials = service_account.Credentials.from_service_account_file("credential_project.json")
project_id = "project-name"
client = bigquery.Client(credentials=credentials, project=project_id)

In [5]:
import pandas_gbq
from google.oauth2 import service_account

query = """
select * from dataset.table
"""

df = pandas_gbq.read_gbq(query,project_id='project-name', credentials=credentials)

### 2

In [ ]:
import os
import pandas as pd
from google.cloud import bigquery
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="Path to your Service Account ~ JSON key"
client = bigquery.Client()         # Start the BigQuery Client
# Input your Query Syntax here; You may try it first at https://console.cloud.google.com/bigquery
QUERY = (
    'SELECT * FROM `bigquery-public-data.covid19_nyt.us_counties` ' 
    'ORDER BY date DESC,confirmed_cases DESC '
    'LIMIT 20')
query_job = client.query(QUERY)    # Start Query API Request
query_result = query_job.result()  # Get Query Result
df = query_result.to_dataframe()   # Save the Query Resultto Dataframe
# ---------------------------------------------
# ---- Continue Data Analysis with your DF ----
# ---------------------------------------------

## write bigquery

In [ ]:
pandas_gbq.to_gbq(df, destination_table='project.dataset.table',
                  project_id=project_id,if_exists="append", 
                  credentials=credentials,progress_bar=False)

## delete bigquery

In [ ]:
table = ['name_table']

dml_statement = (
"""
delete from `project.dataset.table`
--where cast(tahun as int) = EXTRACT(YEAR FROM current_date())
where cast(tahun as int) = 2022
""")

query_job = client.query(dml_statement)

pandas_gbq.read_gbq(dml_statement, project_id='my_project_id')

# pandas set option

## max columns

In [ ]:
print(pd.get_option("display.max_columns"))

In [ ]:
pd.set_option("display.max_columns", 100)

## format numbering

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

# compare 2 dataframe to see difference columns

In [ ]:
# ada di php tidak ada di datamadrasahemis_csv

s = set(df_a.columns)
temp1 = [x for x in df_b.columns if x not in s]
print(temp1)

# ada di datamadrasahemis_csv tidak ada di php

s = set(df_b.columns)
temp2 = [x for x in df_a.columns if x not in s]
print(temp2)

# check columns with some type datatype

In [ ]:
df.select_dtypes(include='int').columns

# change datetime to string

In [ ]:
for i in df.select_dtypes('datetime64').columns:
    df[i] = df[i].dt.strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
for column in df.columns:
    if pd.api.types.is_datetime64_any_dtype(df[column]):
        df[column] = df[column].dt.strftime('%Y-%m-%d %H:%M:%S')